.box.notitle {
    margin-top: 20px;
}

.input-huge {
    width: 100%;
    font-size: 150%;
    padding: 3px;
}

hr.read-more-sep {
    border: 0;
    border-bottom: 2px dashed #990000;
}

#post-frm .post-main-img, #post-frm .post-image {
    margin-top: 10px;
}

#post-frm .img-preview {
    width: 65px;
    float: left;
    position: relative;
}

#post-frm img.no-img {
    border: 2px dashed #ddd;
}

#post-frm img.main-img {
    border: 2px solid #002266;
}

#post-frm .img-property {
    padding-left: 80px;
}

#loading-box {
    right: 20px;
    top: 45px;
    position: fixed;
    z-index: 9999;
}

#loading-box > div#loading-box-content {
    border: none;
    color: #fff;
    opacity: .95;
    filter: alpha(Opacity=95);
    zoom: 1;
    width: 108px;
    padding: 8px 16px;
    margin-top: 10px;
    text-align: left;
    display: none;
    background-color: #448fb2;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.025)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.025)), color-stop(0.75, rgba(255, 255, 255, 0.025)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.025) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.025) 50%, rgba(255, 255, 255, 0.025) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.025) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.025) 50%, rgba(255, 255, 255, 0.025) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.025) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.025) 50%, rgba(255, 255, 255, 0.025) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.025) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.025) 50%, rgba(255, 255, 255, 0.025) 75%, transparent 75%, transparent);
    background-repeat: repeat;
    -webkit-background-size: 10px 10px;
    -moz-background-size: 10px 10px;
    -o-background-size: 10px 10px;
    background-size: 10px 10px;
    -webkit-animation: growl-stripes 1s linear infinite;
    -moz-animation: growl-stripes 1s linear infinite;
    -ms-animation: growl-stripes 1s linear infinite;
    -o-animation: growl-stripes 1s linear infinite;
    animation: growl-stripes 1s linear infinite;
}

#navigation #brand {
    padding-right: 0;
    width: 114px;
}

#copyright {
    border-top: 1px dashed #999;
    margin: 20px;
    position: relative;
}

#copyright > :first-child {
    margin-top: 10px;
}

a.tool-link {font-size: 12px;}

a.tool-remove {color:#e51400}

<!-- -->
tr.term-row > td.column-name div {
    display: block;
}

tr.term-row .sub-tool, tr.post-row .sub-tool {visibility: hidden}

tr.term-row:hover .sub-tool, tr.post-row:hover .sub-tool {visibility: visible}
<!-- -->

select.filter {
    width: 100%;
    display: block;
}