#slide-partner-org .vertical-hold {
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
#slide-partner-org .thumb {
  text-align: center;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
