.modal-box {
    width: 640px;
    margin: 0 auto;
}

.formFooter {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -ms-border-radius: 0 0 3px 3px;
    -o-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    clear: both;
    padding: 10px 20px;
}

.formFooter .formFooterButtons {
    /* float: right;*/
    text-align: center;
}

.formFooter:after {
    content: "";
    display: table;
    clear: both;
}

ul.cardList { list-style-position:outside; list-style-type:none; margin:20px 0px; padding:0px}
ul.cardList li {float:left; /*width:118px*/; margin-right:6px; padding:8px; text-align:center; cursor:pointer}
ul.cardList li:hover {opacity: 100; background:#f7f7f7;}
ul.cardList li i { border:1px solid #dcdcdc; vertical-align:middle; margin-left:4px}
ul.cardList li i:hover { border:1px solid #cccccc}
ul.cardList li.currnt { background:#E8F1FE;}
ul.cardList li.currnt i { border:1px solid #9EB7CD}
ul.cardList li.active i { border: 1px solid #2AA6CA !important;}
ul.cardList li input {margin-right:0px;}
ul.cardList li:last-child {margin-right: 0}

.bank-icon {width:98px; height:40px; display:block; background:url(../img/bank_logo.png) no-repeat;}
.icon-bidv { background-position: 0px -742px;}
.icon-namabank { background-position: 0px -1004px;}
.icon-saigonbank { background-position: 0px -966px;}
.icon-agribank {
    background-position: 0px -780px;
}
.icon-vietinbank {
    background-position: 0px -300px;
}

.button {color: #DEA22F;}
.bank-icon input[name="bank_choose"]{
	float: left;
    margin-bottom: 0;
    margin-left: 35px;
    margin-top: 55px;
}